*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    width: 100%;
    background-image: url(pray2.jpg);
     background-size:cover ;
    background-position : center;
   
   font-family: Arial;
    
} 
.menu-bar{
    background: rgb(170, 204, 233) ;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: rgb(93, 124, 151);
    border-radius: 3px;
}
.about-us{

}