* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-position: center;

  font-family: Arial;
}
.menu-bar {
  background: rgb(170, 204, 233);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
.menu-bar ul li:hover {
  background: rgb(93, 124, 151);
  border-radius: 3px;
}
.kanema {
  background-color: rgb(93, 124, 151);
  background-size: cover;
}
img {
  width: 100;
  height: 300;
}
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgb(63, 61, 61);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
